{% extends "layout.html" %}

{% block title %}
    Sveiki,
{% endblock %}

{% block main %}
    <div style="width:200%; font-size:14px">
    Ši svetainė skirta Konsultavimo ir mokymų centro darbuotojams bei konsultantams.<br><br>
    Nepramirškite:<br>
    <ul><li>rezervuoti laiką pageidaujame kabinete savo planuojamai konsultacijai;</li>
    <li>atšaukus ar pasikeitus konsultacijos laikui, atšaukti rezervaciją;</li>
    <li>po konsultacijos aprašyti konsultaciją.</li></ul>
    <br><br>
    Visas rezervacijas būsimoms konsultacijoms, neaprašytas konsultacijas, bei įvykusių ir aprašytų istorijų archyvą rasite suvestinių skiltyje.<br>
    <br><br><br><br>
    Gražios dienos!<br>
    KMC administracija
    </div>
{% endblock %}
