{% extends "layout.html" %}

{% block title %}
    Neaprašytos konsultacijos:
{% endblock %}

{% block main %}

    <form action="/neaprasytos_konsultacijos" method="post">
        <style>
            table
            {
            width: 200%;
            border-collapse:collapse;
            font-size:12px
            }

            tr
            {
            text-align: center;
            border-bottom: 1px solid #ddd;
            }
        </style>
        <table>
                <tr>
                    <td style="font-size:15px; text-align:left; color: green; width:50%;">Konsultantas - {{name}} {{surname}}</td>
            </table>
        <br>
        <br>
        <table style="text-align:left;">
                <tr>
                    <th></th>
                    <th>Metai</th>
                    <th>Mėnuo</th>
                    <th>Diena</th>
                    <th>Laikas</th>
                    <th>Kabinetas</th>
                    <th>Konsultantas(klientas)</th>
                </tr>
                {% for row in rows %}
                <tr>
                    <td></td>
                    <td>{{row["year"]}}</td>
                    <td>{{row["month"]}}</td>
                    <td>{{row["day"]}}</td>
                    <td>{{row["time"]}}</td>
                    <td>{{row["cabinet"]}}</td>
                    <td>{{row["client"]}}</td>
                </tr>
                {% endfor %}
    </form>

</body>
{% endblock %}
